.grid {
    // margin-left: 200px;
    // margin-right: 200px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    align-items: center;
}

.mushroom {
    display: inline-block;
    width: 100px;
    height: 100px;
    align-content: center;
    margin-bottom: -90px;
    margin-top: -30px;
}

.submit {
    grid-area: 4/2;
}

.des {
    width: 475px;
    height: 80px;
}