// Place all the styles related to the orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html {
    align-content: center;
    word-spacing: normal;
}

.listings {
    text-align: center;
    display: inline-block;
}

.history {
        text-align: center;
        display: inline-block;
    }

.img1 {
    width: 100px;
    align-content: center;
    display: inline-block;
}