html {
    text-align: center;
}

h2 {
    margin-top: 50px;
}


.grid {
    margin-top: 50px;
    margin-left: 200px;
    margin-right: 200px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

.field {
    font-size: 16px;
}

.input_field {
    background: #82e380;
    font-family: futura;
    font-size: 14px;
    color: #71816D;
    border: #71816D;
    border-radius: 5px;
}

.input_field:focus {
    outline: none;
  }


.pencil {
    grid-area: 2/2;
    margin: 0px 100px 0px;
    width: 50px;
}

.firstname {
    grid-area: 1/1;
}

.lastname {
    grid-area: 1/2;
}

.email {
    grid-area: 1/3;
}

.contact {
    grid-area: 2/1;
}

.d_o_b {
    grid-area: 2/3;
}

.password {
    grid-area: 3/1;
}

.password_confirm {
    grid-area: 3/3;
}

.signup_button {
    grid-area: 4/2;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted #71816D;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 400px;
    height: 130px;
    background-color: #71816D;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%; 
    margin-left: -210px;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}